a#clip{display:none;}
dt img{height:100px;}
.sf-menu{line-height:1.5;}
.islandora-metadata-sidebar h2{font-size:0;}
footer div.views-row-1{margin-top:-1.5em;text-align:center;}
#edit-simple{position:relative;}#edit-simple div.adv-search-lnk{position:absolute;bottom:0em;left:18em;}@media only screen and (max-width :320px){#edit-simple{position:relative}}@media only screen 
and (max-width :320px){#edit-simple div.adv-search-lnk{position:absolute;bottom:0em;left:10em;}@media only screen 
and (max-width :320px){#edit-simple div.front-menu-wrapper{margin-left:-2em;}}
.hangingindent{padding-left:22px;text-indent:-22px;}
